<ion-view title="{{toTitleCase(pillName)}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" id="pill">
    <div id="header">
      <img ng-src="{{pill.image}}" alt="" class="profileImgHeader"> 
      <p id="description">{{pill.description}}</p>
    </div>

    <div class="item item-divider">
      Overview: 
    </div>
    Difficulty to get off medication
    <div class="progress active">
      <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="{{overview.difficulty}}"></div>
    </div>

    Weight Changes 
    <div class="progress active">
     <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="{{overview.weightChange}}"></div>
    </div>

    Mood Changes
    <div class="progress active">
      <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="{{overview.moodChange}}"></div>
    </div>

    General Satisfaction
    <div class="progress active">
      <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="{{overview.satisfaction}}"></div>
    </div>

    <div class="list">
        <div class="item item-divider">
          Stories: 
        </div>

        <a ng-repeat="story in pill.stories" class="item item-thumbnail-left" href="#/app/story/{{story.story_id}}" >
        <!-- <a ng-repeat="story in pill.stories" class="item item-thumbnail-left"> -->
          <img ng-src="{{story.profile.image}}">
          <h2>{{story.title}}</h2>
          <p>{{story.comment}}</p>
        </a>
 
    </div>
    <ul class="list">
      <div class="item item-divider">
        Action 
      </div>
      <li class="item" ng-click="browser(pill.information)">Drug Information</li>
      <li class="item" ng-click="browser('https://www.walgreens.com/pharmacy/order/express-refills.jsp')">Walgreens Order Refill<li></li> 
    </ul>
    <br>
  </ion-content>

  <div class="bar bar-footer">
    <button class="button button-clear" ng-click="writeStory(pillName)" style="width: 100%;">
        Write Story
        <i class="icon ion-edit"></i>
    </button>
  </div>
</ion-view>