<ion-view title="Profile">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>

<ion-content class="has-header" id="pill">
    <table class="table table-striped">
        <tr>
            <td class="bold">Weight</td>
            <td>
                {{profile.weight}}
                <i class="icon ion-edit" ng-click="getWeight()"></i>
            </td>
        </tr>
        <tr>
            <td class="bold">Blood Pressure</td>
            <td>
                {{profile.bloodPressure}}
                <i class="icon ion-edit" ng-click="getBloodPressure()"></i>
            </td>
        </tr>
        <tr>
            <td class="bold">Blood Glucose</td>
            <td>
                {{profile.glucose}}
                <i class="icon ion-edit" ng-click="getGlucose()"></i>
            </td>
        </tr>
    </table>

    <button class="button button-balanced button-block" ng-click="syncWalgreen()" ng-show="hasWalgreensToken">
        {{walgreensText}} {{hasWalgreensToken.data}}
        <span ng-show="loading">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
        <span ng-show="successSync">
            <i class="fa fa-check"></i>
        </span>
    </button>
    <button class="button button-balanced button-block" ng-click="connectWalgreens()" ng-show="!hasWalgreensToken">
    <!-- <button class="button button-balanced button-block" ng-click="syncWalgreen()" ng-show="!true"> -->
        Connect Walgreens Balanced Rewards
    </button>

</ion-content>
<ion-footer-bar ng-controller="LoginCtrl" style="padding: 0px;">
    <button class="button button-positive button-block" nav-clear ng-click="logout()" id="logoutButton">
    Logout 
    </button>
    <br>
</span>

</ion-footer-bar>

</ion-view>

